.warning{
  background-color:#FF4C4C !important;
  color:white !important;
}
div#flash {
    position          : fixed;
    opacity           : 0.8;
    top: 0.2em;
    right: 1em;
    margin: 0;
    padding: 0;
    z-index: 1000;
    max-width: 40%;
    min-width: 30%; 
  }
  div#flash div#inner_flash {
    max-height: 20em;
    overflow-y: auto; 
    background-color: #F0F0F0;
  }
    div#flash div#inner_flash div {
      padding: 0.17em 0.95em 0.1em;
    }
    div#flash div#inner_flash span {
      display:block;
      padding: 4px 20px;
      border-radius: 6px;
    }
    div#flash div#inner_flash span.notice {
      background-color: #77B;
      color: #00005F;
    }
    div#flash div#inner_flash span.warning {
      background-color: #FF4646 !important;
      color: white !important; }
    div#flash div#inner_flash .doux {
      background-color: #66a;
      color: #ddd;
      margin-top: 4em; }
  div#flash a#flash_closecross {
    float: right;
    color: #ccc;
    margin: 0.1em 0.3em 0.1em 1.45em; }

div#led_ajax {
  position: absolute;
  top: 0px;
  left: 8px;
  color: yellow;
  font-size: 42px;
  visibility: hidden; 
}
