body {

}

/* ---------------------------------------------------------------------
 *  Styles généraux
 */
.fright{float:right;}
.fleft {float:left ;}

textarea {resize:none;}

input[type="text"].focused,
textarea.focused
{
  background-color:#EFE;
}

/* ---------------------------------------------------------------------
 *  Éléments spécifiques
 */
section#header {
  clear:both;
  min-height:16px;
}

section#table {
  position  : relative;
  width     : 100%;
  height    : 200em;
  border    : 1px dashed green;
}

section#header > div#buttons_right { float:right; }
section#header > div#buttons_right input[type="button"] {
  font-size: 10px;
}
