div.buttons {
	text-align:right;
	padding-top:0.5em;
}
.fleft {float:left;}
.fright{float:right;}

a {text-decoration:none;}

/* Du code entre `...` */
code {font-family:monospace;font-size:12px;color:#CCCCCC;}

h1 {
	margin:0 0 0.3em 0;
	font-family:Arial;
	font-size:1.4em;
	width:700px;
}
div#rapport{
  font-family:monospace;
	letter-spacing:0.6px;
  margin-top:1em;
  background:black;
  color:white;
  padding:1em;
  width:45em;
  word-wrap:break-word;
}
div#buttons_bottom {
	font-size:1.2em;
	text-align:left;
  width:45em;
}
div#rapport .FAILURE, div#rapport .RED, div#rapport .WARNING{color:#DE3663;}
div#rapport .SUCCESS, div#rapport .GREEN{color:#00BB00;}
div#rapport .SYSTEM{color:grey;font-style:italic;}
div#rapport .NOTICE, div#rapport .BLUE{color:#50A0FF;}
div#rapport .ORANGE {color:orange;}
div#rapport .WHITE {color:white;}
/* Les spécificités attendues (utiliser la méthode `specs(message)`)*/
div#rapport .specs {
	margin-left:3em;
	color:#E4E4E4;
	font-family:Verdana;
	font-size:0.9em;
	padding:0.7em;
}

div#section_console {
	background-color: #DCDCDC;
	padding:0.4em;
	width:700px;
	margin:4px 0;
}
div#lien_console {
	text-align:right;
	width:700px;
}
div#div_console {
	background-color: #DCDCDC;
	padding:0 0.5em 0.8em;
	margin-top:8px;
}
div#div_console textarea#console {
	width:96%;
	height:50px;
	background:black;
	color:white;
	font-family:courier;
	font-size:inherit;
	padding:0.5em;
}
div#div_console input#btn_run_console {
	font-size:0.8em;
}

a#help_link {
  margin-right:1em;
  font-size:13.4px;
}