section#header {
  clear       : both;
  min-height  : 30px;
/*  opacity     : 0.4;*/
}
section#header:hover { opacity:1; }

/* ---------------------------------------------------------------------
 *  Marque de sauvegarde
 */
section#header > div#mark_saved {
  float         : left;
  margin-right  : 1em;
  font-size     : 10pt;
  width         : 30px;
}

/* ---------------------------------------------------------------------
 *  Outils Fiches
 */
section#header > div#header_card_tools {
  
}

section#header > div#header_card_tools > div.card_tool {
  display           : inline-block;
  width             : 84px;
  background-color  : #DDD;
  font-family       : "Lucida Grande";
  font-size         : 10pt;
  color             : #565656;
  text-align        : center;
  padding           : 5px 0;
}


/* ---------------------------------------------------------------------
 *  Boutons à droite
 */
section#header > div#buttons_right { float:right; }
section#header > div#buttons_right input[type="button"] {
  font-size: 10px;
}

