section#header {
  clear       : both;
  height      : 40px;
  position    : fixed;
  top         : 0px;
  left        : 0px;
  z-index     : 1000;
  background  : none repeat scroll 0 0 #EEEEEE;
  padding-top : 4px;
/*  opacity     : 0.4;*/
}
section#header:hover { opacity:1; }

/* ---------------------------------------------------------------------
 *  Marque de sauvegarde
 */
section#header > div#mark_saved {
  float         : left;
  margin-right  : 1em;
  margin-top    : 12px;
  margin-left   : 0.6em;
  font-size     : 10pt;
  width         : 60px;
}

/* ---------------------------------------------------------------------
 *  Outils Fiches
 *  Cf. ./css/ui/card_tool.css
 */


/* ---------------------------------------------------------------------
 *  Boutons à droite
 */
section#header > div#buttons_right {
  position      : relative;
  float         : right;
  margin-left   : 40em;
  margin-top    : 10px;
  margin-right  : 1em;
}
section#header > div#buttons_right input[type="button"] {
  font-size: 10px;
}

section#header > div#div_automatic_save {
  position    :absolute;
  left        : 5px;
  top         : 14px;
}
section#header label[for="cb_automatic_save"] {
  font-family : "Lucida Grande";
  font-size   : 8.1pt;
  padding     : 2.3px 6.3px 3px;
}
section#header label[for="cb_automatic_save"].on {
  background-color:#00BC00;
  color:white;
}
section#header label[for="cb_automatic_save"]:not(.on) {
  background-color:#DDD;
}
section#header input#cb_automatic_save {
  visibility  : hidden;
}


/* ---------------------------------------------------------------------
 *  Table des raccourcis
 */
table#shortcuts_panel {
  margin-top  : 4em;
  border      : 1px solid;
  padding     : 1em;
  background-color:white;
  margin-left : 1em;
  z-index     : 1000;
}

table#shortcuts_panel tr td.shortcut {
  text-align:right;
  padding: 0 1em 0 0 ;
}
table#shortcuts_panel tr td.description {

}