section#header {
  clear       : both;
  min-height  : 30px;
/*  opacity     : 0.4;*/
}
section#header:hover { opacity:1; }

/* ---------------------------------------------------------------------
 *  Marque de sauvegarde
 */
section#header > div#mark_saved {
  float         : left;
  margin-right  : 1em;
  font-size     : 10pt;
  width         : 60px;
}

/* ---------------------------------------------------------------------
 *  Outils Fiches
 *  Cf. ./css/ui/card_tool.css
 */


/* ---------------------------------------------------------------------
 *  Boutons à droite
 */
section#header > div#buttons_right { float:right; }
section#header > div#buttons_right input[type="button"] {
  font-size: 10px;
}

