div#preferences {
  position  : fixed;
  width     : 500px;
  top       : 50px;
  left      : 300px;
  padding   : 13px;
  background-color: white;
  border    :2px solid #ccc;
  z-index   : 5000;
}

div#preferences div.titre {
  font-size     : 21.0pt;
  margin-bottom : 11px;
}

div#preferences input[type="checkbox"] {
    margin-right: 12px;
}
div#preferences div.div_cb_pref {
  
}
div#preferences div.div_cb_pref label {
  font-size     : 11pt;
}

div#preferences div.fieldsets {
  height    : 260px;
  overflow  : auto;
}
div#preferences fieldset {
  border      : 1px solid #CACACA;
  margin-top  : 14px;
}

div#preferences div.buttons {
  padding-top : 12px;
}

div#preferences fieldset label .tiny {
    display: inline-block;
    margin-left: 3.4em;
}