body {
  position:relative;
}

/* ---------------------------------------------------------------------
 *  Styles généraux
 */
.fright{float:right;}
.fleft {float:left ;}

textarea {resize:none;}

input[type="text"].focused,
textarea.focused
{
  background-color:#EFE;
}

div.focusable {
  border-width  : 1px;
  border-style  : solid;
  border-color  : transparent;
}
div.focusable.focused {
  border-color : #D583FE !important;
}

/*
.selected {
  background-color : #B1CFF4;
}
*/
.selected {
  background-color : #6464BD !important;
  color : white !important;
}

label.libelle {
  font-size     : 0.9em;
  font-style    : italic;
  margin-right  : 1em;
}

div.buttons {
  text-align  : right;
}

/* ---------------------------------------------------------------------
 *  Éléments spécifiques
 */

section#table {
  position    : relative;
  width       : 1000em;
  height      : 200em;
  border      : 1px dashed green;
  margin-top  : 40px;
}
