body {
  position:relative;
}

/* ---------------------------------------------------------------------
 *  Styles généraux
 */
.fright{float:right;}
.fleft {float:left ;}

.small { font-size: 0.8em;  }
.tiny  { font-size: 0.65em; }


input[type="checkbox"] + label {
  margin-left: 6px;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize:none;
}
textarea.haut {
  height : 140px !important
}

input[type="text"].focused,
textarea.focused
{
  background-color:#EFE;
}

input[type="button"].small,
a.small {
  font-family       : "Lucida Grande";
  font-size         : 9.1pt !important;
  padding           : 0px 4px;
  border            : 1px solid #00AF00 ;
  opacity           : 0.35;
  background-color  : #DFFFDB;
  color             : #009200;
}
.small:hover {
  opacity     : 1 !important;
}

/* Liste de définitions */
dt {
  font-family   : Arial;
  font-size     : 12.4pt;
  font-weight   : bold;
}
dd {
    font-size: 13.4pt;
}

/* Champ focusable */
div.focusable {
  border-width  : 1px;
  border-style  : solid;
  border-color  : transparent;
}
div.focusable.focused {
  border-color : #D583FE !important;
}

/* Quelque chose sélectionnée, sauf une fiche */
.selected:not(fiche) {
  background-color : #6464BD !important;
  color : white !important;
}

label.libelle {
  font-size     : 0.9em;
  font-style    : italic;
  margin-right  : 1em;
}

div.buttons {
  text-align        : right;
  background-color  : inherit;
}
.buttons input[type="button"] {
  font-size: 18px;
}

img[onclick] { cursor:pointer;}

/* ---------------------------------------------------------------------
 *  Éléments spécifiques
 */

section#table {
  position    : relative;
  width       : 1000em;
  height      : 200em;
/*  border      : 1px dashed green;*/
  margin-top  : 50px;
}

/*Pour le moment mis ici : le style d'un endroit où peut se poser un sortable*/
.newplace {background-color:blue;height:2px;width:10em;margin-left:3em;}

/* Div de bas de page affichant des messages d'aide */
div#div_help {
  position    : fixed;
  width       : 100%;
  height      : 18px;
  bottom      : 0px;
  left        : 0px;
  padding     : 4px 20px;
  background-color : #eee;
  border-top  : 2px solid #ccc;
  font-family : "Lucida Grande";
  font-size   : 8pt;
  color       : #6F6F6F;
  z-index     : 999;
}
div#div_help img {
  vertical-align  : middle;
  height          : 13.6px;
}