panneau#films {
  position          : fixed;
  top               : 2em;
  left              : 10em;
  width             : 640px;
  min-height        : 300px;
  background-color  : white;
  border            : 2px solid #ccc;
  padding-bottom    : 20px;
  z-index           : 4000;
}
panneau#films div#panneau_film_onglets {
  background-color  : #000;
  color             : #fff;
  padding       : 5px 20px;
}
panneau#films div#panneau_film_onglets {
  height    : 20px;
}
panneau#films div#panneau_film_onglets div.onglet_lettre {
  float       : left;
  width       : 25px;
  cursor      : pointer;
  text-align  : center;
}

panneau#films div#panneau_film_onglets div.onglet_lettre.pressed {
  background-color  : #6464BD;
}

/* ---------------------------------------------------------------------
 *  DIV contenant les listings par lettre
 */
panneau#films > div#panneau_film_listings {
  height      : 200px;
  overflow    : auto;
  margin      : 30px 20px;
  padding     : 20px;
  font-size   : 15.7pt;
  border      : 1px solid #CCCCCC;
  
}
/* Pour le div d'un film */
panneau#films div.div_film div.titre {
  height      : 30px;
  cursor      : pointer;
}

/* ---------------------------------------------------------------------
 *  LE FORMULAIRE 
 --------------------------------------------------------------------- */
panneau#films div#div_form_film {
  
  
}
panneau#films div#div_form_film div#film_form {
  height    : 284px;
  overflow  : auto;
  padding   : 1em;
}
panneau#films div#div_form_film div#film_form > div {
  padding   : 4px 0;
}
panneau#films div#film_form label.libelle {
  display       : inline-block;
  width         : 75px;
  text-align    : right;
  /*  padding-right : 8px;*/
}
panneau#films div#film_form textarea {
  width         : 98%;
  height        : 50px;
}
panneau#films div#film_form div#film_titres input[type="text"] {
  width         : 230px;
}
panneau#films div#film_form div#film_titres label[for="film_titre"] {
  width         : 25px !important;
}
panneau#films div#film_form div#film_titres label[for="film_titre"],
panneau#films div#film_form div#film_titres input#film_titre {
  font-weight   : bold;
  font-size     : 1.1em;
}
panneau#films div#film_form div#film_data input[type="text"] {
  width         : 40px;
}
panneau#films div#div_form_film div.buttons {
  margin-top    : 1em;
}

/* ---------------------------------------------------------------------
 *  DIV des BOUTONS BAS
 */
panneau#films div.buttons {
  padding     : 0 20px;
}
panneau#films div.buttons input[type="button"] {
  font-size  : 15pt;
}