/* ---------------------------------------------------------------------
 *  PANNEAU POUR LES FILMS
 * 
 *  Cf. aussi dans panneaux.css qui définit les propriétés commune à 
 *  tous les panneaux
 *
 */

/* Pour le div d'un film */
panneau.main_panneau_items div.div_item div.titre {
  min-height  : 20px;
  padding     : 5px;
  cursor      : pointer;
}

panneau.main_panneau_items div.items_form div#film_data input[type="text"] {
  width         : 52px;
  text-align    : center;
}

panneau.main_panneau_items div.items_form div#film_titres > img#img_imdb {
    vertical-align: bottom;
    width: 49px;
}