/* ---------------------------------------------------------------------
 *  Une référence
 */
ref {
  font-family : Arial, Helvetica;
  font-size   : 0.9em;
  color       : #F45E00;
  cursor      : pointer;
}
/* ---------------------------------------------------------------------
 *    APERÇU DU CONTENU
 --------------------------------------------------------------------- */

.lk .apercu {display:none;}
.lk:hover   {z-index:1000 !important;}
.lk:hover .apercu {display:block;}
/* Les liens doivent apparaitre plus petits dans les apercus */
div.apercu .lk { font-size: inherit !important; }

div.apercu {
  position          : absolute;
  top               : 0;
/*  right             : 0; défini dynamiquement */
  background-color  : white;
  padding           : 20px 30px;
  min-width         : 240px;
  max-height        : 200px;
  max-width         : 400px;
  font-size         : 9pt;
  color             : black;
  overflow          : auto;
  z-index           : 1000 !important;
  border-radius     : 11px;
  border            : 1px solid;
  opacity           : 0.9;
}
/*div.apercu:hover{display:block;}*/

.apercu .mainprop {
  font-weight   : bold;
  font-size     : 1.1em;
  margin-bottom : 0.5em;
}

/* Style utilisé pour le résumé du film, mais aussi la définition du mot etc. */
.apercu .resume {
  
}

/* ---------------------------------------------------------------------
 *    LES LIENS
 --------------------------------------------------------------------- */

fiche.para .lk_film {
  position    : relative;
  font-family : Verdana;
  font-size   : 11.3pt;
  color       : #00009C;
  z-index     : 1;
}
fiche.para .lk_mot {
  position    : relative;
  font-family : Verdana;
  font-size   : 11.3pt;
  color       : #00009C;
  z-index     : 1;
}