
/* ---------------------------------------------------------------------
 *  LIVRE (BOOK)
 */
fiche.book {
  background-color :#007;
  color   :white;
  width   :14em;
  border-radius :0.3em;
  opacity :0.5;
}
fiche.book.opened {
  width   : 20em !important;
}

fiche.book > recto > input.titre,
fiche.book > recto > input.titre.focused {
  background-color: transparent !important;
  color: white !important;
  text-align:center;
}
fiche.book.opened > recto > input.titre {
  text-align:left !important;
}

fiche.book > recto > input.real_titre {
  display   :none;
  width     :98%;
}

/* Éléments invisibles quand la fiche est fermée */
fiche.book.opened > recto > input.real_titre { display: block ;}
fiche.book.opened > recto > div.items { display: block;}
