
/* ---------------------------------------------------------------------
 *  LIVRE (BOOK)
 */
fiche.book {
  background-color  : #00A2B7;
  color             : white;
  width             : 13em;
  border-radius     : 0.2em;
/*  opacity :0.5;*/
}
fiche.book.opened {
  width   : 29em !important;
}

fiche.book > recto > .titre {
  background-color: transparent !important;
  color: white !important;
}
fiche.book:not(.opened) > recto > input.titre {
  text-align :center;
  font-size  : 1.2em;
}
fiche.book.opened > recto > input.titre {
  text-align :left;
  font-size  : 1.5em;
}

fiche.book > recto > div.div_real_titre {
    display   : none;
}
fiche.book.opened > recto > div.div_real_titre {
    display   : block;
}

fiche.book > recto > div.div_real_titre input.real_titre {
  width     : 70%;
}

/* Éléments invisibles quand la fiche est fermée */
fiche.book.opened > recto > div.div_real_titre input.real_titre { 
  font-family       : "Times New Roman";
  font-size         : 15pt;
  background-color  : #00BFD3;
  border            : 0;
  padding           : 0 9px 2px;
}
fiche.book.opened > recto > div.items { 
  display: block;
  padding-bottom : 1em;
  padding-top    : 0.1em;
  padding-left   : -1em;
}
