
/* ---------------------------------------------------------------------
 *  LIVRE (BOOK)
 */
fiche.book {
  background-color :#00A2B7;
  color   :white;
  width   :14em;
  border-radius :0.3em;
/*  opacity :0.5;*/
}
fiche.book.opened {
  width   : 20em !important;
}

fiche.book > recto > .titre {
  background-color: transparent !important;
  color: white !important;
  text-align:center;
}
fiche.book.opened > recto > input.titre {
  text-align:left !important;
}

fiche.book > recto > input.real_titre {
  display   :none;
  width     :98%;
}

/* Éléments invisibles quand la fiche est fermée */
fiche.book.opened > recto > input.real_titre { 
  display       : block ;
  font-family   : "Times New Roman";
  font-size     : 15pt;
}
fiche.book.opened > recto > div.items { 
  display: block;
  padding-bottom : 1em;
  padding-top    : 0.1em;
}
