
/* ---------------------------------------------------------------------
 *  CHAPTER
 */
fiche.chap {
  background-color :#EEE;
  color   :black;
  width   :10em;
  opacity :0.5;
}
fiche.chap.opened {
  width   :20em !important;
}
