
/* ---------------------------------------------------------------------
 *  CHAPTER
 */
fiche.chap {
  background-color : white;
  color   :black;
  width   :auto;
/*  opacity :0.5;*/
}
fiche.chap:hover {
  cursor:move;
}
fiche.chap.opened:not(.ranged) {
  width   :20em;
}

fiche.chap.ranged {
  margin-top  : 1em;
  padding     : 0 4px 0 0;
}
fiche.chap.ranged > recto > .titre {
  font-size   : 1.2em;
}

fiche.chap > recto > div.items { 
  display     : block !important; 
  margin-top  : 0.5em;
}
/*fiche.chap.opened > recto > div.items { display: block;}*/
