/* Toutes les fiches */
fiche {
  display     : block;
  position    : absolute;
  font-family : "Times New Roman";
  font-size   : 14pt;
  weight      : auto;
  border      : 2px solid transparent;
}
/*fiche:hover {opacity:1 !important;}*/

fiche.opened > recto > div.items {
  display     : block;
}
/* Fiche ouverte */
fiche.opened:not(.selected), fiche.opened:not(.selected) * {
  z-index : 5;
}
/* Fiche sélectionnée */
fiche.selected:not(.opened), fiche.selected:not(.opened) * {
  z-index : 10;
}
/* Fiche ouverte et sélectionnée */
fiche.selected.opened, fiche.selected.opened * {
  z-index : 15;
}

/* Une fiche rangée perd sa position absolute */
fiche.ranged { 
  position: static !important ;
  
}
fiche.ranged {
/*  cursor: url(http://www.atelier-icare.net/img/pictos/up-and-down.png), auto;*/
}

fiche > recto { 
  display       : block; 
  padding-left  : 1em;
}
fiche > recto > div.items {
  display           : none;
  background-color  : white;
}

fiche > recto > .titre {
  display     : block;
  font-family : inherit;
  border      : 1px solid transparent;
}
fiche > recto > input.titre {
  width:98%;
}
fiche.selected { 
  border-color: blue !important; 
}

/* Fiche survolée par enfant potentiel */
fiche.dropped, fiche.selected.dropped {
  border-color: #0F5 !important;
}