/* Toutes les fiches */
fiche {
  display     : block;
  position    : absolute;
  font-family : "Times New Roman";
  font-size   : 14pt;
  padding     : 0 4px;
}
fiche:hover {opacity:1 !important;}

fiche > recto > input.titre {
  display     : block;
  width       : 99%;
  font-family : inherit;
  font-size   : inherit;
}

fiche > div.poignee {
  height:5px;
}
fiche.opened > div.poignee { height: 12px; }