fiche > verso { 
  display           : block;
  position          : absolute;
  padding-left      : 1em;
  min-height        : 4em;
  background-color  : #dcdcdc;
  padding           : 0.5em 0.6em;
  border            : 2px solid #808080;
  width             : 100%;
  z-index           : 30 !important;
}

verso .titre_verso {
  background-color: #000000;
  color         : #FFFFFF;
  font-family   : "Lucida Grande";
  font-size     : 0.9em;
  padding       : 7px;
}

fiche > verso > fieldset.parametres {
  
}

fiche > verso > fieldset.parametres a {
  color     : #989898;
  cursor    : pointer;
}