
/* ---------------------------------------------------------------------
 *  PAGE
 */
fiche.page {
  background-color :white;
  color         : black;
  width         : auto;
}
fiche.page.opened {
  width         : 34em !important;
  border-radius : 6px;
  border-color  : #CCC;
  width         : 20em;
  z-index       : 20;
}

fiche.page.ranged {
  margin-left   : 1.5em;
  height        : 24px;
  border-width  : 1px !solid;
}

fiche.page:not(.ranged) > recto {
  padding-left  : 1.6em;
  padding-top   : 2em;
}

fiche.page.ranged > recto > .titre {
  font-size     : 1.1em;
}
fiche.page.opened > recto > .titre {
  font-size     : xx-large;
  margin-bottom : 76px;
}
/* Pour la page, la hauteur des éléments est fixe */
fiche.page.opened > recto > div.items {
  height    : 30em;
  overflow  : auto;
}

/* Le titre quand la page est fermée */
fiche.page > recto > div.titre {
  
}
/* Le titre (en édition) quand la page est ouverte */
fiche.page.opened > recto > input.titre {
  font-size   : 1.8em;
  margin-top  : 1.5em !important;
  margin-left : 1em !important;
  width       : 90% !important;
}
