/* ---------------------------------------------------------------------
 *  PARAGRAPH (FICHE)
 */
fiche.para {
  background-color :#EEE;
  color   :black;
  width   :30em;
/*  opacity :0.5;*/
}
/* Un paragraphe est toujours ouvert (avec opened à false pourtant) */
/*
 * Champ de saisie du texte du paragraphe
 */
fiche.para > recto > textarea.texte {
  display     :block !important;
  font-family :inherit;
  font-size   :inherit;
  width       :98%;
  margin-left :1%;
  border      :none;
}