/* ---------------------------------------------------------------------
 *  PARAGRAPH (FICHE)
 */
fiche.para {
  background-color :#EEE;
  color   :black;
  width   :30em;
  opacity :0.5;
}
fiche.para.opened {
  width   :30em !important;
}

/*
 * Champ de saisie du texte du paragraphe
 */
fiche.para > recto > textarea.texte {
  font-family :inherit;
  font-size   :inherit;
  width       :98%;
  margin-left :1%;
  border      :none;
}